{% extends 'base.html' %}
{% load static %}

{% block title %}
    创建博文
{% endblock %}

{% block content %}
{% if message %}
    <h4>{{ message }}</h4>
{% else %}

<script>
    function keepdraft(){
        var form = new FormData(document.getElementById("blog_edit"));
        form.append('status', '1')

        fetch("{% url 'myblog:newblog' username %}", {
            method: "POST",
            body: form
        }).then(alert("保存成功！"))
    }
</script>

<form action="{% url 'myblog:newblog' username %}" method="post" class="edit_blog" id="blog_edit">
    {% csrf_token %}
    <div>
        <p><label>标题：</label></p>
        <p><input type="text" maxlength="100" style="width:78%" name="title" id="publish_title" required></p>
    </div>
    <div>
        <p><label>正文：</label></p>
        <p><textarea name="body" rows="30" cols="150" id="publish_body" ></textarea></p>
    </div>
    <input type="submit" value="立即发表">&nbsp;<input type="button" value="保存草稿" onclick="keepdraft()">
</form>


{% endif %}

{% endblock %}